@import "./media.scss";


.main_comments{
    margin-top: 220px;
}

.main_comments_wrapper_content2{
    display: flex;
    flex-direction: column;
    input{
        margin-top: 65px;
        padding: 35px 0 35px 30px;
        border: 1px solid #000;
        font-family: "Work Sans", serif;
        font-size: 18px;
        color: #2d2e06;
        outline: none;
        background: transparent;
        width: 670px;
        @include smaltablet{
            width: 80%;
        }
    }
}

.main_comments_wrapper{
    display: flex;
    max-width: 1166px;
    margin: 0 auto;
    gap: 220px;
    @include midldesctop{
        gap: 50px;
    }
    @include desctop{
        max-width: 980px;
    }
    @include tablet{
        flex-direction: column;
        margin-left: 15px;
    }
    .main_comments_wrapper_logo{
        font-family: "Work Sans", serif;
        font-size: 21px;
        color: #2d2e06;
    }
}

.main_comments_wrapper_content{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main_comments_wrapper_content_items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    .star{
        width: 150px;
        height: 35px;
        margin-left: -10px;
    }
    p{
        font-family: "Work Sans", serif;
        font-size: 15px;
        color: #2d2e06;
        max-width: 670px;
    }
}

.main_comments_wrapper_content_items_contet{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main_comments_wrapper_content_items_contet_name{
    font-family: "Work Sans", serif;
    font-size: 18px;
    color: #2d2e06;
}

.main_comments_wrapper_content_items_contet_place{
    font-family: "Work Sans", serif;
    font-size: 18px;
    color: #958d79;
}

.human{
    width: 490px;
    height: 750px;
    @include midldesctop{
        width: 290px;
    }
    @include tablet{
        width: 490px;
    }
    @include phone{
        width: 85%;
        height: 650px;
    }
}